<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisedu.mapping.orderMapper">
	<select id="getOrderById" parameterType="int"  resultType="Order">
	  	select order_id id, order_no orderNo,order_price price from orders where order_id=#{id}
	</select>
	
	<select id="selectOrderResultMap" parameterType="int" resultMap="orderResultMap">
         select * from orders where order_id=#{orderId}
     </select>
     <resultMap type="Order" id="orderResultMap">
     	<id property ="orderId" column="order_id"/>
     	<result property="orderNo" column="order_no"/>
     	<result property="orderPrice" column="order_price"/>
     </resultMap>
</mapper>
